body {
  color: var(--page-text-primary);
  font-family: Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  background-color: var(--page-background-secondary);
  border-bottom: 2px solid var(--container-accent);

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-small);
    padding: var(--spacing-small);
    
    /* nav item that is a singular route */
    .nav-item {
      display: flex;
      
      a, button {
        all: unset;
        
        color: var(--page-text-primary);
        font-size: var(--text-xlarge);
        font-weight: bold;
        text-decoration: none;
        padding: var(--spacing-small) var(--spacing-medium);
        border-radius: var(--border-radius);
        width: 100%;
        
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        
        transition: background-color 0.1s ease;
        
        &.active {
          background-color: var(--button-nav-solid);
        }
        
        &.open {
          background-color: var(--button-nav-active);
        }
        
        &:hover {
          background-color: var(--button-nav-hover);
        }
        
        &:active {
          background-color: var(--button-nav-active);
        }
      }
    }
    
    /* nav item that contains multiple routes */
    .nav-dropdown {
      display: flex;
      flex-direction: column;
      
      ul {
        position: absolute;
        margin-top: calc(var(--spacing-xlarge) + var(--spacing-small));
        z-index: 1000;
        background-color: var(--page-background-secondary);
        border-radius: var(--border-radius);
        border-top-left-radius: 0;
        border-top-right-radius: 0;     
        border: 2px solid var(--container-accent);
        border-top: none;
        box-shadow: var(--spacing-small) var(--spacing-small) var(--spacing-small) rgba(0, 0, 0, 0.2);
        
        li {
          margin: var(--spacing-small)
        }
      }
    }
  }
}

.text-title {
  font-size: var(--text-title);
    line-height: calc(var(--text-title) + var(--spacing-small));

  font-weight: 800;
}

.text-section-header {
  font-size: var(--text-xlarge);
    line-height: calc(var(--text-xlarge) + var(--spacing-small));

  font-weight: bold;
}

.text-body {
  font-size: var(--text-medium);
  line-height: calc(var(--text-medium) + var(--spacing-small));

  font-weight: 300;
}

/* page layout */
main {
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
  background-color: var(--page-background-primary);
  flex: 1 0 0;
  
  .title {
    margin-bottom: var(--spacing-large);
  }
  
  .content-row {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    gap: var(--spacing-large);
    margin-bottom: var(--spacing-medium);
    &.two-column {
      > * {
        flex: 1 1 45%;
        min-width: 300px;
      }
    }
  }
  
  a {
    text-decoration: none;
    color: var(--off-white);

    &.emphasized {
      background-color: var(--earth-light);
      /* color: var(--black); */
      padding: 1px 2px;
      text-wrap: nowrap;
      border-radius: 2px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.tile {
  background-color: var(--container-primary);
  padding: var(--spacing-large);
  border-radius: var(--border-radius);
  box-shadow: var(--spacing-small) var(--spacing-small) var(--spacing-small) rgba(0, 0, 0, 0.2);

}

.card {
  border-left: 6px solid var(--container-accent);
  border-radius: var(--border-radius);
  box-shadow: var(--spacing-small) var(--spacing-small) var(--spacing-small) rgba(0, 0, 0, 0.2);
  width: 100%;
  box-sizing: border-box;
  
  .header {
    background-color: var(--container-secondary);
    padding: var(--spacing-medium);
    border-top-right-radius: var(--border-radius);
  }
  .content {
    background-color: var(--container-primary);
    padding: var(--spacing-medium);
    border-bottom-right-radius: var(--border-radius);
  }
}

.btn {
  box-shadow: var(--spacing-small) var(--spacing-small) var(--spacing-small) rgba(0, 0, 0, 0.2);
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: var(--text-medium);
  font-weight: bold;
  border: none;
  
  &.primary {
    background-color: var(--button-primary-solid);
    color: var(--white);
    transition: background-color 0.1s ease;
    
    &:hover {
      background-color: var(--button-primary-hover);
    }
    &:active {
      background-color: var(--button-primary-active);
    }
  }
  
  &.secondary {
    background-color: var(--button-secondary-solid);
    color: var(--black);
    transition: background-color 0.1s ease;
    
    &:hover {
      background-color: var(--button-secondary-hover);
    }
    &:active {
      background-color: var(--button-secondary-active);
    }
  }
  
  &.warning {
    background-color: var(--button-warning-solid);
    color: var(--white);
    transition: background-color 0.1s ease;
    
    &:hover {
      background-color: var(--button-warning-hover);
    }
    &:active {
      background-color: var(--button-warning-active);
    }
  }
  

}

article {
  margin-bottom: var(--spacing-medium);
  
  .transition-wrapper {
    overflow: hidden;
    max-height: 1000px; /* Arbitrary large value to allow expansion */;
    transition: max-height 1s ease-in-out;
    &.collapsed {
      max-height: 0px;
      transition: 1s cubic-bezier(0, 1, 0, 1);
    }
  }
}

footer {
  background-color: var(--page-background-secondary);
  color: var(--page-text-primary);
  text-align: center;
  padding: var(--spacing-medium) 0;
  font-size: var(--text-small);
  position: relative;
  bottom: 0;
}