body {
  color: var(--off-white);
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  background-color: var(--earth-darkest);
  border-bottom: 1px solid var(--earth-light);
  ul {
    height: var(--spacing-xlarge);
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;

    li {
      a {
        color: var(--off-white);
        text-decoration: none;
        font-weight: bold;
        font-size: var(--text-xlarge);
        
        &.active {
          text-decoration: underline;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.text-title {
  font-size: var(--text-title);
    line-height: calc(var(--text-title) + var(--spacing-small));

  font-weight: 800;
}

.text-section-header {
  font-size: var(--text-xlarge);
    line-height: calc(var(--text-xlarge) + var(--spacing-small));

  font-weight: bold;
}

.text-body {
  font-size: var(--text-medium);
  line-height: calc(var(--text-medium) + var(--spacing-small));

  font-weight: 300;
}

/* page layout */
main {
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
  background-color: var(--off-black);
  flex: 1 0 0;
  
  .title {
    margin-bottom: var(--spacing-large);
  }
  
  .content-row {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    gap: var(--spacing-large);
    margin-bottom: var(--spacing-medium);
    &.two-column {
      > * {
        flex: 1 1 45%;
        min-width: 300px;
      }
    }
  }
  
  a {
    text-decoration: none;
    color: var(--off-white);

    &.emphasized {
      background-color: var(--earth-lightest);
      padding: 2px 3px;
      text-wrap: nowrap;
      border-radius: 2px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.tile {
  background-color: var(--earth-darker);
  padding: var(--spacing-large);
  border-radius: var(--border-radius);
  box-shadow: var(--spacing-small) var(--spacing-small) var(--spacing-small) rgba(0, 0, 0, 0.2);

}

.card {
  border-left: 3px solid var(--earth-lighter);
  border-radius: var(--border-radius);
  box-shadow: var(--spacing-small) var(--spacing-small) var(--spacing-small) rgba(0, 0, 0, 0.2);
  width: 100%;

  
  .header {
    background-color: var(--earth-darkest);
    padding: var(--spacing-medium);
    border-top-right-radius: var(--border-radius);
  }
  .content {
    background-color: var(--earth-darker);
    padding: var(--spacing-medium);
    border-bottom-right-radius: var(--border-radius);
  }
}

.btn {
  box-shadow: var(--spacing-small) var(--spacing-small) var(--spacing-small) rgba(0, 0, 0, 0.2);
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: var(--text-medium);
  font-weight: bold;
  border: none;
  
  &.primary {
    background-color: var(--earth-lighter);
    color: var(--off-white);
    
    &:hover {
      background-color: var(--earth-lightest);
    }
  }
  

}

article {
  margin-bottom: var(--spacing-medium);
  
  .transition-wrapper {
    overflow: hidden;
    max-height: 1000px; /* Arbitrary large value to allow expansion */;
    transition: max-height 1s ease-in-out;
    &.collapsed {
      max-height: 0px;
      transition: 1s cubic-bezier(0, 1, 0, 1);
    }
  }
}

footer {
  background-color: var(--earth-darkest);
  color: var(--off-white);
  text-align: center;
  padding: var(--spacing-medium) 0;
  font-size: var(--text-small);
  position: relative;
  bottom: 0;
}