:root {
  --viewport-large-breakpoint: 1000px;
  --viewport-medium-breakpoint: 640px;
  --viewport-small-breakpoint: 0px;
  
  /* --white: #F6F6F6;
  --grey-100: #BCBCBC;
  --grey-80: #818181;
  --grey-60: #444444;
  --grey-40: #2A2A2A;
  --grey-20: #1B1B1B;
  --grey-0: ;
  --black: #0C0C0C; */
  
    --white: #FFFFFF;
  --grey-100: #BCC2C8;
  --grey-80: #848F9A;
  --grey-60: #49525B;
  --grey-40: #363D45;
  --grey-20: #24292D;
  --grey-0: #121417;
  --black: #060708;


  --earth-dark: #1F3E13; /* button */
  --earth-mid: #2D5D1D; /* button */
  --earth-light: #387224; /* button */
  
  --fire-dark: #610505;
  --fire-mid: #880707;
  --fire-light: #AE0909;
  
  /* Site-wide colors */
  --page-background-primary: var(--black);
  --page-background-secondary: var(--grey-20);
  
  --page-text-primary: var(--white);
  
  /* Container colors */
  --container-primary: var(--grey-40);
  --container-secondary: var(--grey-20);
  --container-accent: var(--earth-mid);
  
  /* Button colors */
  --button-primary-solid: var(--earth-light);
  --button-primary-hover: var(--earth-mid);
  --button-primary-active: var(--earth-dark);
  
  --button-secondary-solid: var(--white);
  --button-secondary-hover: var(--grey-100);
  --button-secondary-active: var(--grey-80);
  
  --button-warning-solid: var(--fire-light);
  --button-warning-hover: var(--fire-mid);
  --button-warning-active: var(--fire-dark);
  
  --button-nav-solid: var(--earth-mid);
  --button-nav-hover: var(--grey-60);
  --button-nav-active: var(--grey-40);
  --button-nav-child-selected: var(--grey-20);

  /* Text sizes */
  --text-small: 12px;
  --text-medium: 18px;
  --text-large: 24px;
  --text-xlarge: 30px;
  --text-title: 48px;

  --spacing-small: 6px;
  --spacing-medium: 12px;
  --spacing-large: 18px;
  --spacing-xlarge: 48px;
  
  --border-radius: 6px;
  
}
